.keyboard {
  height: 300px;
  width: 850px;
  border: solid white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.controls {
  height: 40%;
  width: 100%;
}

.slider-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    padding-right: 15px;
  }

  input {
    width: 60%;
    height: 50%;
  }
}

