@use "./variables.scss";
@use "sass:color";

@mixin glow($color) {
  color: white;
  text-shadow:
  0 0 1px #fff,
  0 0 3px $color,
  0 0 5px $color,
  0 0 10px $color,
  0 0 14px $color,
  0 0 17px $color,
}

@mixin display-bezel($thickness) {
  border-left: $thickness solid #111111;
  border-top: $thickness solid #111111;
  border-right: $thickness solid #181818;
  border-bottom: $thickness solid #181818;
}