@media only screen and (max-width: 450px) {
  :root {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
  }
  
  #App {
    height: 100%;
    width: 100%;
    transform: rotate(90deg);

    h1 {
      display: none;
    }
  }

  .instructions {
    display: none;
  }

  .controls {
    .slider {
      height: 2rem;
    }

    label {
      font-size: .85em;
      margin: .15em;
    }
  }

  .lower-bar {
    height: 2rem;
  }

  .keyboard {
    height: 90vw;
    width: 85vh;
  }
}