@media (max-width: 480px) {
  :root {
    margin: 33% 0;
  }
  
  #App {
    transform: rotate(90deg);


    h1 {
      display: none;
    }
  }

  .instructions {
    display: none;
  }

  .keyboard {

    height: 90vw;
    width: 85vh;
  }
}