@use "../variables.scss";

.controls {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%;
}

.slider-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    padding-right: 15px;
  }

  input {
    width: 60%;
    height: 50%;
  }
}

.voice-select {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 1rem;

  li {
    background-color: variables.$accent-color;
    color: variables.$primary-color;
    font-size: 1.2em;
    font-weight: bold;
    padding: .75em;
    border-radius: 1em;
    user-select: none;
    filter: invert(.35);

    &:hover {
      opacity: 0.9;
    }
  }

  .selected {
    filter: none;
  }
}
