@use "../variables.scss";
@import "../mixins.scss";

.controls {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%;
}

.slider-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 1.5em;
    padding-right: 15px;
  }

  input {
    width: 60%;
    height: 50%;
  }
}

.voice-select {
  @include display-bezel(5px);

  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  width: 55%;
  background-color: variables.$screen-color;
  padding: 0 .5em;
  
  li {
    height: fit-content;
    color: variables.$display-color;
    font-weight: bold;
    padding: .35em;
    border: 2px solid;
    border-radius: 3px;
    filter: invert(.45);
    
    &:hover {
      opacity: 0.9;
    }
  }
  
  .selected {
    filter: none;
  }
}

.lower-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  width: 100%;
}

.octave-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  font-size: 2.5rem;
}

.octave-display {
  @include display-bezel(5px);

  color: variables.$display-color;
  background-color: rgb(0, 0, 0);
  height: 4rem;
  width: 4rem;
}

.octave-button {
  font-size: 1.5em;
  padding: 0 .5rem;
  color: rgb(255, 93, 120);

  &:hover {
    transform: scale(110%);
  }

  &:active {
    transform: translateY(0);
  }
}