@keyframes shimmer {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.95;
    transform: translateY(-1px)
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.instructions {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgb(0, 0, 0);

  h3 {
    padding-bottom: .5rem;
  }
}

.computer-key-row {
  display: flex;
}

.row-1 {
  position: relative;
  right: 10px;
}

.row-3 {
  position: relative;
  left: 10px;
}

.computer-key {
  height: 35px;
  width: 30px;
  border: solid 1px black;
  background-color: grey;
  border-radius: 5px;
  margin: 2px;
  border-left: 4px solid rgb(90, 90, 90);
  border-top: 4px solid rgb(90, 90, 90);
  border-right: 6px solid rgb(54, 54, 54);
  border-bottom: 8px solid rgb(37, 37, 37);
}

.black-key {
  background-color: black;
  color: white;

  animation-name: shimmer;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.white-key {
  color: black;
  background-color: white;

  animation-name: shimmer;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
