.keyboard {
  height: 500px;
  width: 800px;
  background-color: #2e2e2e;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-dark-vertical.png");
  border-radius: 5px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border: solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.keys-container {
  display: flex;
  height: 70%;
  width: 100%;
  border-top: solid 1px white;
  position: relative;
}

.key {
  flex: 1;
  color: black;
  user-select: none;
  position: relative;

  input {
    display: none;
  }
}

.key-white {
  height: 100%;
  background-color: white;
  z-index: 1;
  border-left: solid 1px;
  border-bottom: solid 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: -1px 0 5px grey;
}

.key-black {
  height: 55%;
  max-width: 3.5%;
  color: white;
  background-color: black;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: solid 7px rgb(56, 56, 56);
  border-right: solid 5px rgb(29, 29, 29);
  border-left: solid 5px rgb(0, 0, 0);
  
  position: relative;
  margin: 0 -45px 0 0;
  transform: translateX(-70%);
  z-index: 2;
}

.keydown {
  filter: invert(0.2);

}