.keyboard {
  height: 300px;
  width: 850px;
  border: solid white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.keys-container {
  display: flex;
  height: 60%;
  width: 100%;
  border-top: solid white;
  position: relative;
}

.key {
  user-select: none;
  position: relative;
}

.key-white {
  border-left: solid 1px;
  border-bottom: solid 1px;
  background-color: white;
  height: 100%;
  z-index: 1;
}

.key-black {
  height: 50%;
  max-width: 2.5%;
  color: white;
  border-bottom: solid 1px;
  background-color: black;
  position: relative;
  margin: 0 -25px 0 0;
  transform: translateX(-60%);
  z-index: 2;
}